@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monofett&family=Nabla&family=Passion+One:wght@400;700;900&family=Rubik+80s+Fade&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Sriracha&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
}
 body {
    font-family: "Space Mono", monospace;
    display: grid;
    background-color: rgba(197, 197, 197, 0.992);
 }

 main {
   display: grid;
   grid-template-columns: repeat(2, 45vw);
   gap: 50px;
   margin: 30px auto;
 }

 section {
   background-color: white;
   line-height: 2em;
   font-size: 1.1em;
   padding: 50px;
   margin: 20px auto;
   height: fit-content;
   border-radius: 20px;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.479);
}

 section > h2 {
    margin-bottom: 20px;
    text-align: center;
 }

 section > ul > .dento {
    margin: 30px 0px;
 }

 #minibio > p {
    text-align: justify;
    margin: 10px;
 }
 
 @media (max-width: 1000px) {
   #minibio > p {
      text-align: left;
   }

   main {
      display: flex;
      flex-wrap: wrap;
      max-width: 70vw;
   }

   section {
      width: 80vw;
      font-size: 1em;
   }
 }

 #experiencia {
   grid-row: span 2;
 }

 #curso {
   grid-row: span 1.5;
 }


 #curso > ul > li {
    margin: 40px 0px;
 }

 #nave {
   display: grid;
   justify-content: center;

 }

 #quebra {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 #quebra > a {
   text-decoration: none;
   font-size: 1.1em;
   color: black;
   padding: 5px;
   margin: 5px;
   border: 5px solid black;
   border-radius: 5px;
 }

 #quebra > a:hover {
   background-color: black;
   color: white;
   transform: scale(1.1);
   box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.342);
 }
 



 



 
